.jumbotron {
  padding: 20px;
  height: 16%;
  width: 100%;
  margin: 0;
  background-color: white;
  color: rgb(0, 120,190);
  font-weight: 500;
  font-size: 4rem;
  border-bottom:solid cornflowerblue 1px;
 
  
}

.headEnd{
  text-align-last: left;;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  color: rgb(0, 120,190);
}

.tailEnd{
  font-family: 'EB Garamond', serif;
  font-weight: 550;
  color: black;
  font-style: normal;
}

.logBut{
  float:right;
}