
.myBox{
/* 
    margin: 0 auto; */
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    /* border: greenyellow solid 2px; */

}

.noMargin{
    margin-left: 0;
    margin-right: 0;
    /* height: 100%; */

}

.symp{
    /* background-color: tan; */
    text-align: center;
  
}

.cond{

    /* background-color: rgb(124, 221, 120); */
    text-align: center;
    margin-top: 30px;
}

.stories{
    /* background-color: teal; */
    text-align: center;

}